<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="ClipboardEncConverter40MergeModule" Language="1033" Version="4.0.0.0">
		<Package Id="12b67fc1-e9fc-4337-8901-8aec7f35e767" Comments="Merge module containing the Clipboard EncConverter" Description="Installer for the Clipboard EncConverter Plug-in" Keywords="Encoding Converters; Clipboard; SIL; Unicode" Manufacturer="SIL International" InstallerVersion="200" />

		<Directory Id="TARGETDIR" Name="SourceDir">
            <Component Id="RegKey" Guid="{44003A14-73D6-4F94-A932-C9E8E2ACF44F}">
                <RegistryValue Id="RegKey" Root="HKLM" Key="Software\SIL\SilEncConverters40\ClipboardEC" Value="" Type="string" KeyPath="yes" />
            </Component>
			<Directory Id="MergeRedirectFolder">

                <Component Id="ClipboardEC.exe" Guid="{A031D80B-38EA-48C6-99A9-F758BDF04D93}">
                    <File Id="ClipboardEC.exe" Name="ClipboardEC.exe" KeyPath="yes" Assembly=".net" AssemblyManifest="ClipboardEC.exe" AssemblyApplication="ClipboardEC.exe" Source="..\..\output\x86\release\ClipboardEC.exe" />
                    <Shortcut Id="ClipboardEC.exe" Directory="SILConverters" Name="Clipboard EncConverter" Description="Start the Clipboard EncConverter program" IconIndex="0" Show="normal" Target="[#ClipboardEC.exe]" WorkingDirectory="MergeRedirectFolder" Advertise="no" />
                </Component>
                
			</Directory>

            <Directory Id="StartMenuFolder" SourceName="Start Menu">
                <Directory Id="ProgramMenuFolder" SourceName="Programs">
                    <Directory Id="SILConverters" Name="SIL Converters" />
                </Directory>
            </Directory>
            
        </Directory>
	</Module>
</Wix>
