<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Module Id="ParatextBackTranslationHelperPlugin64bitMergeModule" Language="1033" Version="5.0.0.0" Guid="{00DE4FC7-217E-4836-9676-3A393A4DCE94}" InstallerVersion="500"><SummaryInformation Description="Installer for the SIL Converters Plug-ins for Paratext (Back Translation Helper and Spell Fixer)" Keywords="Paratext Plugin; Encoding Converters; EcTranslators; SIL; Unicode" Manufacturer="SIL International" />

    
  
      <Directory Id="MergeRedirectFolder">

        <Directory Id="Paratext9Plugins" Name="plugins">
          <Directory Id="ParatextPluginBackTranslationHelper" Name="ParatextPluginBackTranslationHelper">
            <Component Id="ParatextPluginBackTranslationHelper.ptxplg" Guid="{D44AD674-E478-499C-BA98-B03B5A6E2E2D}">
              <File Id="ParatextPluginBackTranslationHelper.ptxplg" Name="ParatextPluginBackTranslationHelper.ptxplg" KeyPath="yes" Assembly=".net" AssemblyManifest="ParatextPluginBackTranslationHelper.ptxplg" AssemblyApplication="ParatextPluginBackTranslationHelper.ptxplg" Source="..\..\output\x64\release\ParatextPluginBackTranslationHelper.dll" />
            </Component>
          </Directory>
          <Directory Id="SpellFixerPluginForParatext" Name="SpellFixerPluginForParatext">
            <Component Id="SpellFixerPluginForParatext.ptxplg" Guid="{9B7E2C41-3D6A-4F18-A5C2-7E0B9D3F1A64}">
              <File Id="SpellFixerPluginForParatext.ptxplg" Name="SpellFixerPluginForParatext.ptxplg" KeyPath="yes" Assembly=".net" AssemblyManifest="SpellFixerPluginForParatext.ptxplg" AssemblyApplication="SpellFixerPluginForParatext.ptxplg" Source="..\..\output\x64\release\SpellFixerPluginForParatext.dll" />
            </Component>
            <Component Id="SpellingStatusUpdater.exe" Guid="{4E2D8A63-1B7C-4F59-9D3A-6C8E2F1B7A45}">
              <File Id="SpellingStatusUpdater.exe" Name="SpellingStatusUpdater.exe" KeyPath="yes" Source="..\..\output\x64\release\SpellingStatusUpdater.exe" />
            </Component>
          </Directory>
        </Directory>

        <Directory Id="ParatextEC" Name="EC">
          <Directory Id="ParatextEcPlugins" Name="Plugins">
            
            <Component Id="PtxTranslators4.0.0.0PluginDetails.xml" Guid="{61A5D089-E9CA-4AF0-B230-2759BC775FC8}">
              <File Id="PtxTranslators4.0.0.0PluginDetails.xml" Name="Translators 4.0.0.0 Plugin Details.xml" KeyPath="yes" Source="..\..\output\x64\release\EC\Plugins\Translators 4.0.0.0 Plugin Details.xml" />
            </Component>

            <Component Id="PtxProject4.0.0.0PluginDetails.xml" Guid="{66578C6D-BE08-4908-BACE-6E395921BA69}">
              <File Id="PtxProject4.0.0.0PluginDetails.xml" Name="PtxProject 4.0.0.0 Plugin Details.xml" KeyPath="yes" Source="..\..\output\x64\release\EC\Plugins\PtxProject 4.0.0.0 Plugin Details.xml" />
            </Component>

			  <Component Id="AI4.0.0.0PluginDetails.xml" Guid="{A442ECF2-DAE1-411B-B82B-F15B190DBA7E}">
				  <File Id="AI4.0.0.0PluginDetails.xml" Name="AI 4.0.0.0 Plugin Details.xml" KeyPath="yes" Source="..\..\output\x64\release\EC\Plugins\AI 4.0.0.0 Plugin Details.xml" />
			  </Component>

		  </Directory>
        </Directory>
      </Directory>

    </Module>
</Wix>
        