<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="SEC_ICU_50MergeModule" Language="1033" Version="1.0.0.0">
		<Package Id="7f3e9259-e5e2-4808-b14f-449bf0846325" Manufacturer="SIL International" InstallerVersion="200" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

                <Component Id="IcuEC.dll" Guid="{565582B9-643D-4226-A09C-9633DD001B5D}">
                    <File Id="IcuEC.dll" Name="IcuEC.dll" Vital="yes" KeyPath="yes" AssemblyManifest="IcuEC.dll" AssemblyApplication="IcuEC.dll" Assembly=".net" Source="..\..\EC DistFiles\IcuEC.dll" />
                </Component>
                
                <Directory Id="ICUECFolder" Name="EC">
                    <Directory Id="ICUPluginsFolder" Name="Plugins">
                        <Component Id="IcuEC_4.0.0.0_PluginDetails.xml" Guid="{5046BA71-57E1-4D41-A8F8-48FB3211CB4E}">
                            <File Id="IcuEC_4.0.0.0_PluginDetails.xml" Name="IcuEC 4.0.0.0 Plugin Details.xml" KeyPath="yes" Source="..\..\EC DistFiles\redist\EC\Plugins\IcuEC 4.0.0.0 Plugin Details.xml"/>
                        </Component>
                    </Directory>
                </Directory>

            </Directory>

            <Directory Id="CommonFilesFolder" SourceName="Common Files Folder">
                <Directory Id="IcuSIL" Name="SIL">
                    <Component Id="IcuConvEC.dll" Guid="">
                        <File Id="IcuConvEC.dll" Name="IcuConvEC.dll" KeyPath="yes" Source="..\..\EC DistFiles\IcuConvEC.dll"/>
                    </Component>
                    <Component Id="IcuRegexEC.dll" Guid="">
                        <File Id="IcuRegexEC.dll" Name="IcuRegexEC.dll" KeyPath="yes" Source="..\..\EC DistFiles\IcuRegexEC.dll"/>
                    </Component>
                    <Component Id="IcuTranslitEC.dll" Guid="">
                        <File Id="IcuTranslitEC.dll" Name="IcuTranslitEC.dll" KeyPath="yes" Source="..\..\EC DistFiles\IcuTranslitEC.dll"/>
                    </Component>
                    <Component Id="icudt50.dll" Guid="">
                        <File Id="icudt50.dll" Name="icudt50.dll" KeyPath="yes" Source="..\..\EC DistFiles\icudt50.dll"/>
                    </Component>
                    <Component Id="icuin50.dll" Guid="">
                        <File Id="icuin50.dll" Name="icuin50.dll" KeyPath="yes" Source="..\..\EC DistFiles\icuin50.dll"/>
                    </Component>
                    <Component Id="icuuc50.dll" Guid="">
                        <File Id="icuuc50.dll" Name="icuuc50.dll" KeyPath="yes" Source="..\..\EC DistFiles\icuuc50.dll"/>
                    </Component>
                    <Directory Id="Help" Name="Help">
                        <Component Id="IcuRegex" Guid="786CA242-4204-46B7-86D5-93ED456710B5">
                            <File Id="IcuRegex" Name="ICU Regular Expression Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Regular Expression Plug-in About box.mht"/>
                        </Component>
                        <Component Id="IcuTranslit" Guid="024219A1-29EB-4D20-BB9A-DB9E3C3F1743">
                            <File Id="IcuTranslit" Name="ICU Transliterators Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Transliterators Plug-in About box.mht"/>
                        </Component>
                        <Component Id="ICU_Converters_Plugin_About_box.htm" Guid="963A2D88-6CFE-4C91-8830-CD6F8A3872E8">
                            <File Id="ICU_Converters_Plugin_About_box.htm" Name="ICU Converters Plug-in About box.htm" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box.htm"/>
                        </Component>
                        <Directory Id="ICUConvPlug" Name="ICU Converters Plug-in About box_files">
                            <Component Id="image008.jpg" Guid="C3970194-5CAF-44A9-B59E-F7AD6CF3F84D">
                                <File Id="image008.jpg" Name="image008.jpg" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box_files\image008.jpg"/>
                            </Component>
                            <Component Id="image001.png" Guid="F166A049-8724-4EA5-80F0-12B55A48F4BF">
                                <File Id="image001.png" Name="image001.png" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box_files\image001.png"/>
                            </Component>
                            <Component Id="image003.png" Guid="C2DA1740-EDCF-49E2-8E62-C07AB42C476B">
                                <File Id="image003.png" Name="image003.png" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box_files\image003.png"/>
                            </Component>
                            <Component Id="image007.png" Guid="1C4C6530-7E4F-411E-BF80-F3AC653219A6">
                                <File Id="image007.png" Name="image007.png" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box_files\image007.png"/>
                            </Component>
                            <Component Id="image002.jpg" Guid="448BEBF5-5EE0-4474-B92C-CD3B3B22442F">
                                <File Id="image002.jpg" Name="image002.jpg" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box_files\image002.jpg"/>
                            </Component>
                            <Component Id="image004.jpg" Guid="DFF6B368-EF7B-405E-BC57-F25CA8D3B821">
                                <File Id="image004.jpg" Name="image004.jpg" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box_files\image004.jpg"/>
                            </Component>
                            <Component Id="filelist.xml" Guid="E6812F05-9BD4-4DBF-BD33-86E99A7B1A5E">
                                <File Id="filelist.xml" Name="filelist.xml" ReadOnly="yes" KeyPath="yes" Source="..\..\EC DistFiles\redist\Help\ICU Converters Plug-in About box_files\filelist.xml"/>
                            </Component>
                        </Directory>
                    </Directory>
                    <!--End of ICU Help files-->
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Program">
                <Directory Id="SIL_Converters" Name="SIL Converters">
                    <Directory Id="SILConvHelp" Name="Help">
                        <Component Id="HelpShortcuts" Guid="1EA5CB2D-D255-4CAD-8538-971E59BE87E6" KeyPath="yes">
                            <Shortcut Id="ICUTranlitHelp" Directory="SILConvHelp" Name="ICU Transliterators Help" Target="[#IcuTranslit]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
                            <Shortcut Id="ICUConvHelp" Directory="SILConvHelp" Name="ICU Converters Help" Target="[#ICU_Converters_Plugin_About_box.htm]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
                            <Shortcut Id="ICURegexHelp" Directory="SILConvHelp" Name="ICU Regular Expression Help" Target="[#IcuRegex]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
                            <!-- The next item is junk to make validation pass on ICE18 -->
                            <CreateFolder/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

        </Directory>
	</Module>
</Wix>
