<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment Id="EcFilesFragment"><Property Id="EcFilesFragment" Value="1" />
    
  
      <StandardDirectory Id="ProgramMenuFolder">
          <Directory Id="SIL_Converters" Name="SIL Converters">
            <Component Id="RemoveFile" Guid="038514E8-3137-41BD-B061-37BAB096A158">
              <RemoveFile Id="RemoveFile1" Directory="SIL_Converters" Name="Launch SILConverters Installer.lnk" On="install" />
              <RemoveFile Id="RemoveFile2" Directory="SIL_Converters" Name="Uninstall SILConverters.lnk" On="install" />
              <!-- The next 2 items are junk to make validation pass on ICE18 and ICE64. -->
              <RemoveFolder Id="DelSilConverters" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software\SIL\FieldWorks\Installer" Name="DelOldSecShortcuts" Type="integer" Value="1" KeyPath="yes" />
            </Component>
          </Directory>
        </StandardDirectory>
      <StandardDirectory Id="SystemFolder" />
      <StandardDirectory Id="System64Folder" />
      <StandardDirectory Id="CommonFiles64Folder">
        <Directory Id="CommonFilesFolderSIL" Name="SIL" />
        <!-- Place holder for merge modules -->
      </StandardDirectory>
      <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="SIL" Name="SIL">
          <Directory Id="INSTALLDIR" Name="SILConverters">
            <Directory Id="Firefox" Name="FireFox64" />
          </Directory>
          <Directory Id="TECkit" Name="TECkit" />
          <!-- Place holder for merge modules -->
        </Directory>
        <Directory Id="Toolbox" Name="Toolbox" />
        <Directory Id="Paratext9" Name="Paratext 9" />
      </StandardDirectory>
      <StandardDirectory Id="CommonAppDataFolder">
        <Directory Id="AllUserAppDataSIL" Name="SIL">
          <Directory Id="AllUserAppDataSILConverters40" Name="SILConverters40" />
        </Directory>
      </StandardDirectory>
    </Fragment>
</Wix>
