<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Module Id="AdaptIt2Unicode4064bitMM" Language="1033" Version="4.0.0.0" Guid="{558A95D4-3172-4ADC-BA21-DDBDC9AEF43C}" InstallerVersion="500"><SummaryInformation Manufacturer="SIL International" Description="Installer for the AdaptIt2Unicode utility" Keywords="Encoding Converters; Adapt It; SIL; Unicode" />

    

    <InstallExecuteSequence>
      <RemoveShortcuts Condition="Installed AND NOT UPGRADINGPRODUCTCODE AND REMOVE=&quot;ALL&quot;" />
    </InstallExecuteSequence>
  
      <Directory Id="MergeRedirectFolder">

        <Component Id="AdaptIt2Unicode.exe" Guid="{12FCC051-542B-4967-BE7D-EC680EA17E5E}">
          <File Id="AdaptIt2Unicode.exe" Name="AdaptIt2Unicode.exe" KeyPath="yes" Assembly=".net" AssemblyManifest="AdaptIt2Unicode.exe" AssemblyApplication="AdaptIt2Unicode.exe" Source="..\..\output\x64\release\AdaptIt2Unicode.exe" />
          <Shortcut Id="AdaptIt2Unicode.exe" Directory="SILConverters" Name="Adapt It to Unicode Project Converter" Description="Start the AdaptIt to Unicode conversion program" IconIndex="0" Show="normal" Target="[#AdaptIt2Unicode.exe]" WorkingDirectory="MergeRedirectFolder" Advertise="no" />
        </Component>

      </Directory>

      <StandardDirectory Id="ProgramMenuFolder">
          <Directory Id="SILConverters" Name="SIL Converters" />
        </StandardDirectory>
    </Module>
</Wix>
