<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="ScHelpMM" Language="1033" Version="4.0.0.0">
    <Package Id="96c48f87-45fa-42c8-b89b-d2319b9f45b0" Comments="Merge module for the SILConverters Help files"
             Description="Help files for SILConverters' client applications, transduction engines, and installation process" InstallerVersion="500" Keywords="SIL; EncConverters; Help"
             Manufacturer="SIL" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">

        <Directory Id="SCHelp" Name="Help">
          <Component Id="HelpforSILConverters.pdf" Guid="055804CE-DBFC-4236-AAB3-52FF1B988714">
            <File Id="HelpforSILConverters.pdf" Name="Help for SIL Converters.pdf" KeyPath="yes" Source="$(var.EcDistFilesPath)\redist\Help\Help for SIL Converters.pdf" />
            <Shortcut Id="HelpforSILConverters.pdf" Directory="ScHelp" Name="Help for SIL Converters" Description="Help files for SILConverters' client apps and transduction engines" Show="normal" Target="[#HelpforSILConverters.pdf]" WorkingDirectory="SCHelp" Advertise="no" />
          </Component>
          <Component Id="SILConvertersInstallationHelp.pdf" Guid="7FD93F39-B1DD-4429-812B-2E54C96F8671">
            <File Id="SILConvertersInstallationHelp.pdf" Name="SILConverters Installation Help.pdf" KeyPath="yes" Source="$(var.EcDistFilesPath)\redist\Help\SILConverters Installation Help.pdf" />
            <Shortcut Id="SILConvertersInstallationHelp.pdf" Directory="ScHelp" Name="Help for SIL Converters" Description="Help files for SILConverters' client apps and transduction engines" Show="normal" Target="[#SILConvertersInstallationHelp.pdf]" WorkingDirectory="SCHelp" Advertise="no" />
          </Component>
        </Directory>

        <Directory Id="StartMenuFolder" SourceName="Start Menu">
          <Directory Id="ProgramMenuFolder" SourceName="Programs">
            <Directory Id="SILConverters" Name="SIL Converters">
              <Directory Id="ScHelp" Name="Help" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>


    </Directory>
  </Module>
</Wix>
