<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="FindPhone2IPA40MergeModule" Language="1033" Version="4.0.0.0">
		<Package Id="cde3c042-3e92-44f0-a862-6ca48b07c2a0" Comments="Set of converters related to the FindPhone encoding" Description="Encoding Converters related to FindPhone encoding" Keywords="FindPhone; SILConverters; Encoding Conversion; EncConverters" Manufacturer="SIL International" InstallerVersion="500" />

		<Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CommonAppDataFolder" SourceName="AppData">
                <Directory Id="SIL" Name="SIL">
                    <Directory Id="SILConverters40" Name="SILConverters40">
                        <Directory Id="MapsTables" Name="MapsTables">
                            <Component Id="FindPhone2Ipa.xml" Guid="78b818a8-1e56-4208-917d-bf6a0012bd6a">
                                <File Id="FindPhone2Ipa.xml" Name="FindPhone2Ipa.xml" KeyPath="yes" Source="MapsTables\FindPhone2Ipa.xml" />
                            </Component>
                            <Component Id="FindPhone.vbs" Guid="ed5155a6-3742-4ca4-a831-861485d8e94d">
                                <File Id="FindPhone.vbs" Name="FindPhone.vbs" KeyPath="yes" Source="MapsTables\FindPhone.vbs" />
                            </Component>
                            <Component Id="FF2Uni.cct" Guid="533c1c72-3c6b-4a05-b93c-c245ef35b09e">
                                <File Id="FF2Uni.cct" Name="FF2Uni.cct" KeyPath="yes" Source="MapsTables\FF2Uni.cct" />
                            </Component>
                            <Component Id="FFIPA.CCT" Guid="5eeba7be-eaea-45da-99cb-c9ddd2c29616">
                                <File Id="FFIPA.CCT" Name="FFIPA.CCT" KeyPath="yes" Source="MapsTables\FFIPA.CCT" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
	</Module>
</Wix>
